.how{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #141212;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 80%;
    background-color: #141212;
    padding: 100px;  
    color: white;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 50px;
    font-size: 20px;
}

.userdetail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.kotakkonten{
    display: flex;
    flex-direction: column;
    width:50%;
    padding: 10px;
}

.userdetail .kotakkonten input{
    width: 100%;
    height: 30px;
}

form .button{
    margin: 45px 0px;
    height: 50px;
    width: 100px;
}

.button input{
    width: 100%;
    height: 100%;
}

.konten{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
    padding: 10px;
}
.kotakbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

}