.konten{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141212;
}

.SOLAR{
    padding: 20px;
    width: 80%;
    height: 800px  ;
    border-radius: 10%;
}

.judulkonten{
    font-size: 100px;
    color: white;
}

.kotakgede{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:30px;
    padding-bottom: 100px;
}

.kotakkonten{
    width: 1400px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #141212;
    padding: 30px;
}

.kotakgambar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.link {
    padding: 25px;
    color: #9ccddc;
    font-size: 15px;
}

.kotakgambar :hover{
    transform: scale(1.1); 
}

.gambarkonten{
    height: auto;
    width: 400px;
    border-radius: 10%;
}

.kotakdesc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-left: 70px;
}

.judul{
    color:white;
    font-size: 25px;
    padding-bottom: 10px;
}

.isi{
    color: white;
    font-size: 20px;
}

.bigTelly{
    padding: 20px;
    width: 75%;
    height: 800px  ;
    border-radius: 10%;
}