<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomers</title>
    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/astronomers.css">
</head>
<body>
    <div class="header">
        <img src="../Styles/Images/logo.png" class="logo" alt="">
        <div class="header-right">
          <a  href="../index.html">Home</a>
          <a class="active" href="../view/astronomers.html">Astronomers</a>
          <a href="../view/telescopes.html">Space Telescopes</a>
          <a href="../view/subscribe.html">Subscribe</a>
        </div>
    </div>


    <div class="konten">
        <div class="judulkonten">Notable Astronomers</div>
        <img src="../Styles/Images/CelestialTerrestrial_CopernicusHeliocentric_QBS_Thumbnail.jpg" class="SOLAR" alt="">
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../Styles/Images/Justus_Sustermans_-_Portrait_of_Galileo_Galilei,_1636.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Galileo_Galilei" class="link">https://en.wikipedia.org/wiki/Galileo_Galilei</a>

                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Galileo_Galilei" class="judul">Galileo di Vincenzo Bonaiuti de' Galilei</a>
                    <div class="isi">was an Italian astronomer, physicist and engineer, sometimes described as a polymath, from the city of Pisa, then part of the Duchy of Florence. Galileo has been called the "father" of observational astronomy, modern physics, the scientific method, and modern science. Galileo's championing of Copernican heliocentrism (Earth rotating daily and revolving around the sun) was met with opposition from within the Catholic Church and from some astronomers. The matter was investigated by the Roman Inquisition in 1615, which concluded that heliocentrism was foolish, absurd, and heretical since it contradicted Holy Scripture.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../Styles/Images/南公懷仁像.jpg" 
                    class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Ferdinand_Verbiest" class="link">https://en.wikipedia.org/wiki/Ferdinand_Verbiest</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Ferdinand_Verbiest" class="judul">Ferdinand Verbiest/Nan Huairen (南懷仁)</a>
                    <div class="isi">was a Flemish Jesuit missionary in China during the Qing dynasty. He was born in Pittem near Tielt in the County of Flanders (now part of Belgium). He is known as Nan Huairen (南懷仁) in Chinese. He was an accomplished mathematician and astronomer and proved to the court of the Kangxi Emperor that European astronomy was more accurate than Chinese astronomy. He then corrected the Chinese calendar and was later asked to rebuild and re-equip the Beijing Ancient Observatory, being given the role of Head of the Mathematical Board and Director of the Observatory.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../Styles/Images/Einstein_1921_by_F_Schmutzer_-_restoration.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Albert_Einstein" class="link">https://en.wikipedia.org/wiki/Albert_Einstein</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Albert_Einstein" class="judul">Albert Einstein</a>
                    <div class="isi">was a German-born theoretical physicist, widely acknowledged to be one of the greatest and most influential physicists of all time. Einstein is best known for developing the theory of relativity, but he also made important contributions to the development of the theory of quantum mechanics. Relativity and quantum mechanics are together the two pillars of modern physics. His mass–energy equivalence formula E = mc<sup>2</sup>, which arises from relativity theory, has been dubbed "the world's most famous equation". His work is also known for its influence on the philosophy of science. He received the 1921 Nobel Prize in Physics "for his services to theoretical physics, and especially for his discovery of the law of the photoelectric effect", a pivotal step in the development of quantum theory. His intellectual achievements and originality resulted in "Einstein" becoming synonymous with "genius".</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../styles/Images/Stephen-Hawking.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Stephen_Hawking" class="link">https://en.wikipedia.org/wiki/Stephen_Hawking</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Stephen_Hawking" class="judul">Stephen William Hawking</a>
                    <div class="isi">was an English theoretical physicist, cosmologist, and author who, at the time of his death, was director of research at the Centre for Theoretical Cosmology at the University of Cambridge. Hawking's scientific works included a collaboration with Roger Penrose on gravitational singularity theorems in the framework of general relativity, and the theoretical prediction that black holes emit radiation, often called Hawking radiation. Initially, Hawking radiation was controversial. By the late 1970s and following the publication of further research, the discovery was widely accepted as a major breakthrough in theoretical physics. Hawking was the first to set out a theory of cosmology explained by a union of the general theory of relativity and quantum mechanics. He was a vigorous supporter of the many-worlds interpretation of quantum mechanics.</div>
                </div>
            </div>    
        </div>
    </div>


    <div class="footer">
        <div class="kotakfooter">
          <img src="../Styles/Images/logo.png" class="logofooter" alt="404">
            <div class="footerinfo">
                <div class="judulfooter">CUSTOMER SERVICE</div>
                <div class="isifooter">FAQ</div>
                <div class="isifooter">CONTACT US</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">ABOUT SANA</div>
                <div class="isifooter">ABOUT US</div>
                <div class="isifooter">SUPPORT US</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">TERM</div>
                <div class="isifooter">TERMS OF USE</div>
                <div class="isifooter">PRIVACY</div>
                <div class="isifooter">COOKIE NOTICE</div>
            </div>
        </div>
        <div class="COPYRIGHT">© SANA 2022</div>
    </div>

</body>
</html>