<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomers</title>
    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/telescopes.css">
</head>
<body>
    <div class="header">
        <img src="../Styles/Images/logo.png" class="logo" alt="">
        <div class="header-right">
          <a href="../index.html">Home</a>
          <a href="../view/astronomers.html">Astronomers</a>
          <a class="active" href="../view/telescopes.html">Space Telescopes</a>
          <a href="../view/subscribe.html">Subscribe</a>
        </div>
    </div>


    <div class="konten">
        <div class="judulkonten">Space Telescopes</div>
        <img src="../Styles/Images/spaceTelescopes.jpg" class="bigTelly" alt="">
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../Styles/Images/hubbleSpaceTelescope.jpeg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Hubble_Space_Telescope" class="link">https://en.wikipedia.org/wiki/Hubble_Space_Telescope</a>

                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Hubble_Space_Telescope" class="judul">Hubble Space Telescope</a>
                    <div class="isi">is a space telescope that was launched into low Earth orbit in 1990 and remains in operation. It was not the first space telescope, but it is one of the largest and most versatile, renowned both as a vital research tool and as a public relations boon for astronomy. The Hubble telescope is named after astronomer Edwin Hubble and is one of NASA's Great Observatories. The Space Telescope Science Institute (STScI) selects Hubble's targets and processes the resulting data, while the Goddard Space Flight Center (GSFC) controls the spacecraft.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../Styles/Images/IBEX_spacecraft.jpg" 
                    class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Interstellar_Boundary_Explorer" class="link">https://en.wikipedia.org/wiki/Interstellar_Boundary_Explorer</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Interstellar_Boundary_Explorer" class="judul">Interstellar Boundary Explorer(IBEX)</a>
                    <div class="isi">IBEX or Explorer 91 or SMEX-10 is a NASA satellite in Earth orbit that uses energetic neutral atoms (ENAs) to image the interaction region between the Solar System and interstellar space. The mission is part of NASA's Small Explorer program and was launched with a Pegasus-XL launch vehicle on 19 October 2008.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../Styles/Images/WISE_artist_concept_(PIA17254,_crop).jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Wide-field_Infrared_Survey_Explorer" class="link">https://en.wikipedia.org/wiki/Wide-field_Infrared_Survey_Explorer</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Wide-field_Infrared_Survey_Explorer" class="judul">Wide-field Infrared Survey Explorer</a>
                    <div class="isi">WISE, observatory code C51, Explorer 92 and SMEX-6 is a NASA infrared astronomy space telescope in Explorer program. It was launched in December 2009, and placed in hibernation mode in February 2011, before being re-activated in 2013 and renamed the Near-Earth Object Wide-field Infrared Survey Explorer (NEOWISE). WISE discovered thousands of minor planets and numerous star clusters. Its observations also supported the discovery of the first Y Dwarf and Earth trojan asteroid.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../styles/Images/James_Webb_Space_Telescope_2009_top.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/James_Webb_Space_Telescope" class="link">https://en.wikipedia.org/wiki/James_Webb_Space_Telescope</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/James_Webb_Space_Telescope" class="judul">James Webb Space Telescope</a>
                    <div class="isi">is a space telescope designed primarily to conduct infrared astronomy. The most powerful telescope ever launched into space, its greatly improved infrared resolution and sensitivity will allow it to view objects too old, distant, or faint for the Hubble Space Telescope. This is expected to enable a broad range of investigations across the fields of astronomy and cosmology, such as observations of first stars and the formation of the first galaxies, and detailed atmospheric characterization of potentially habitable exoplanets. JWST was launched in December 2021 on a European Space Agency (ESA) Ariane 5 rocket from Kourou, French Guiana, and as of June 2022 is undergoing testing and alignment. Once operational, expected about the end of June 2022, JWST is intended to succeed the Hubble as NASA's flagship mission in astrophysics.</div>
                </div>
            </div>    
        </div>
    </div>


    <div class="footer">
        <div class="kotakfooter">
          <img src="../Styles/Images/logo.png" class="logofooter" alt="404">
            <div class="footerinfo">
                <div class="judulfooter">CUSTOMER SERVICE</div>
                <div class="isifooter">FAQ</div>
                <div class="isifooter">CONTACT US</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">ABOUT SANA</div>
                <div class="isifooter">ABOUT US</div>
                <div class="isifooter">SUPPORT US</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">TERM</div>
                <div class="isifooter">TERMS OF USE</div>
                <div class="isifooter">PRIVACY</div>
                <div class="isifooter">COOKIE NOTICE</div>
            </div>
        </div>
        <div class="COPYRIGHT">© SANA 2022</div>
    </div>

</body>
</html>